<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            我的档案
            <small>My Profile</small>
        </h3>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->

<div class="row">
    <div class="col-md-12 alert alert-info">
        <p>集团号: {{ profile.unit_no }}</p>
        <p>集团名称：{{ profile.unit_name }}</p>
        <p>商户号：{{ profile.shop_no }}</p>
        <p>商户名称：{{ profile.shop_name }}</p>
        <p>注册时间：{{ profile.reg_time }}</p>
    </div>
</div> 