<div>
  <!-- BEGIN PAGE HEADER-->
  <div class="row">
    <div class="col-md-12">
      <!-- BEGIN PAGE TITLE & BREADCRUMB-->
      <h3 class="page-title">
        卡交易流水查询
        <small>Card Trans</small>  
        <div class="pull-right">
          <button class="btn btn-primary" ng-show="root.menu.show('00802')" ng-click="setAction('search')">查询</button>
        </div>              
      </h3>
      <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
  </div>
  <!-- END PAGE HEADER-->
  

  <div class="portlet box blue" ng-show="menu.action=='search'">
    <div class="portlet-title">
      <div class="caption">
        <i class="icon-reorder"></i>
        查询卡交易流水
      </div>
    </div>
    <div class="portlet-body form">
      <!-- BEGIN FORM-->
      <form class="form-horizontal" ng-submit="showList(query.page)" name="user_form">
        <div class="form-body">
          <div class="form-group">
            <label class="col-md-3 control-label">卡号</label>

            <div class="col-md-4">
              <input type="text" ng-model="query.card_no" class="form-control" placeholder="输入卡号">
            </div>
          </div>                    
        </div>
        <div class="form-body">
          <div class="form-group">
            <label class="col-md-3 control-label">交易开始日期</label>

            <div class="col-md-4">
              <input type="text" ng-model="query.start_date" class="form-control" placeholder="输入查询开始日期">
            </div>
          </div>  
          <div class="form-group">
            <label class="col-md-3 control-label">交易结束日期</label>

            <div class="col-md-4">
              <input type="text" ng-model="query.end_date" class="form-control" placeholder="输入查询结束日期">
            </div>
          </div>                     
        </div>
        <div class="form-body">
          <div class="form-group">
            <label class="col-md-3 control-label">交易类型</label>

            <div class="col-md-4">
              <select ng-model="query.trans_code" ng-options="t.trans_code as t.trans_name for t in trans" class="form-control">
                <option value="">---选择交易类型---</option>
              </select>
            </div>
          </div>                    
        </div>
        <div class="form-actions fluid">
          <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn blue">确定</button>
            <button type="button" class="btn default" ng-click="setAction('list')">取消</button>
          </div>
        </div>
      </form>
      <!-- END FORM-->
    </div>
  </div>


  <div class="row" ng-show="menu.action=='list'">
    <div class="col-md-12">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th width="50">序号</th>
          <th>卡号</th>
          <th>交易金额</th>
          <th>交易日期</th>
          <th>交易时间</th>
          <th>交易结果</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="trans in transListStore.data">
          <td>{{(transListStore.page - 1) * transListStore.limit + $index + 1}}</td>
          <td>{{trans.card_no}}</td>
          <td>{{trans.amount/100.00}}</td>
          <td>{{trans.trans_date}}</td>
          <td>{{trans.trans_time}}</td>
          <td>{{trans.return_message}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>   
</div>