<div class="col-md-12">	
	<div class="portlet box blue tabbable">
		<div class="portlet-title">
			<div class="caption"><i class="fa fa-reorder"></i>进销存报表</div>
		</div>
		<div class="portlet-body">
			<div class=" portlet-tabs">
				<ul class="nav nav-tabs">
					<li><a data-toggle="tab" href="#tab_home">总览</a></li>
                    <li><a data-toggle="tab" href="#tab_sale">销售报表</a></li>
				</ul>
				<div class="tab-content">						
					<div class="tab-pane" id="tab_home">
						
					</div>

					<!-- 销售报表 -->
					<div class="tab-pane" id="tab_sale">
						
					</div>
					<!-- ///销售报表 -->
				</div>
			</div>
		</div>
	</div>
</div>	