<div>
    <!-- BEGIN PAGE HEADER-->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">
                终端管理
                <small>Terminals</small>
                <div class="pull-right">
                    <button class="btn btn-primary" ng-show="root.menu.show('00600')" ng-click="setAction('add')">添加</button>
                    <button class="btn btn-primary" ng-show="root.menu.show('00602')" ng-click="showList(query.page)">列表</button>
                </div>
            </h3>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
    <!-- END PAGE HEADER-->

    <div class="portlet box blue" ng-show="(menu.action=='add') || (menu.action=='update')">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-reorder"></i>
                添加终端
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form class="form-horizontal" ng-submit="submit()" name="terminal_form">
                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label">终端号</label>

                        <div class="col-md-4">
                            <input type="text" ng-readonly="menu.action=='update'" ng-model="terminal.terminal_no" class="form-control" placeholder="输入终端号">
                        </div>
                    </div>                    
                    <div class="form-group" ng-show="menu.action=='add'">
                        <label class="col-md-3 control-label">所属集团</label>

                        <div class="col-md-4">
                            <select name="unit_no" ng-model="terminal.unit_no" ng-options="u.unit_no as u.unit_name for u in units.data" ng-change="change" class="form-control" placeholder="---选择所属集团---"></select>
                        </div>
                    </div>   
                    <div class="form-group" ng-show="menu.action=='add'">
                        <label class="col-md-3 control-label">所属商户</label>

                        <div class="col-md-4">
                            <select name="shop_name" ng-model="terminal.shop_no" ng-options="s.shop_no as s.shop_name for s in shops.data" class="form-control" placeholder="---选择所属商户---"></select>
                        </div>
                    </div>       
                    <div class="form-group">
                        <label class="col-md-3 control-label">终端权限(按住Ctrl键可多选)</label>

                        <div class="col-md-4">
                            <select multiple ng-model="terminal.trans_codes" ng-options="t.trans_code as t.trans_name for t in trans.data" class="form-control"></select>
                        </div>
                    </div>   
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>

                        <div class="col-md-4">
                            <input type="checkbox" ng-model="terminal.is_default"> 设置此终端为默认终端
                        </div>
                    </div>             
                </div>
                <div class="form-actions fluid">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn blue">确定</button>
                        <button type="button" class="btn default" ng-click="setAction('list')">取消</button>
                    </div>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>

    <div class="row" ng-show="menu.action=='list'">
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th width="50">序号</th>
                    <th>终端号</th>
                    <th>所属商户</th>
                    <th>所属集团</th>
                    <th width="50">状态</th>
                    <th ng-show="root.menu.show('00601')">修改</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="terminal in terminalListStore.data">
                    <td>{{(terminalListStore.page - 1) * terminalListStore.limit + $index + 1}}</td>
                    <td>{{terminal.terminal_no}}</td>
                    <td>{{terminal.shop_name}}</td>
                    <td>{{terminal.unit_name}}</td>
                    <td>
                        <span ng-show="terminal.status=='0'" class="badge badge-success">&nbsp;&nbsp;</span>
                        <span ng-show="terminal.status=='1'" class="badge badge-important">&nbsp;&nbsp;</span>
                    </td>
                    <td>
                        <a href="javascript:;" ng-show="root.menu.show('00601')" ng-click="update($index)">修改</a>
                        <a href="javascript:;" ng-show="root.menu.show('00601')" ng-click="setTerminalStatus(terminal.terminal_no)">
                            <span ng-show="terminal.status=='0'">停用</span>
                            <span ng-show="terminal.status=='1'">启用</span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <paginator></paginator>
        </div>
    </div>
</div>
